.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: loader 1.4s infinite ease-in-out;
}

.loader {
  position: absolute;
  transform: translate(-50%, -70%);
  animation-delay: -0.16s;
  left: 50%;

  &:before {
    right: 100%;
    animation-delay: -0.20s;
  }

  &:after {
    left: 100%;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
  }
}

@keyframes loader {

  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1em;
  }

  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}