# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
DATABASE_URL=

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth -  Google Provider
GOOGLE_ID=
GOOGLE_SECRET=

# AWS S3 Bucket
APP_AWS_ACCESS_KEY=
APP_AWS_SECRET_KEY=

APP_AWS_REGION=
AWS_S3_BUCKET_NAME=
NEXT_PUBLIC_AWS_S3_BUCKET_NAME=