@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
    font-display: swap;
  }

  html {
    @apply font-primary font-medium text-primaryBlack;
  }
}
