@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto Condensed';
    src: url('../../public/fonts/RobotoCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Condensed';
    src: url('../../public/fonts/RobotoCondensed-BOld.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Condensed';
    src: url('../../public/fonts/RobotoCondensed-Light.ttf');
    font-weight: light;
    font-style: normal;
    font-display: swap;

  }

  html {
    @apply text-primaryBlack font-primary
  }
}